{% extends "document-email.html" %}

{% block body %}
<p>Hello {{firstName}},</p>

<p>Thank you for signing up! To complete your registration, click the link below:</p>

<p style="text-align: center;">
    <a href="{{verificationLink}}" style="border: 1px solid #4caf50; border-radius: 3px; background: #4caf50; color: #fefefe; text-decoration: none; padding: 5px 10px">Verify Registration</a>
</p>
<p>Your login are as follows:</p>
<p>
    <strong>Email:</strong> {{email}}<br>
    <strong>Password:</strong> {{password}}<br>

</p>
<p>If the link doesn't work, you can copy and paste the following URL into your browser's address bar:</p>

<div>
    <input type="text" style="width:100%; border: 1px solid #ccc; background: #fefefe; padding: 5px 7px; text-align: center; border-radius: 3px;" readonly value="{{verificationLink}}">
</div>

<p>Please note that this link is valid for the next 24 hours. After that, you may need to register again.</p>

<p>If you did not sign up, or if you received this email in error, please disregard it.</p>

<p>Thank you for choosing us!</p>

<p style="text-align: right;">
    Best regards,<br>
    The GSU Clinic
</p>

{% endblock %}