{% extends "document.html" %}

{% block body %}
<div class="navigation">
    <div class="container container-nav">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="/images/clinico-sm.png" alt="">
                </a>
            </div>
            <div class="col-6 justify-content-end d-flex align-items-center">
                <a href="#" class="menu-toggle">
                    <svg width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Menu</title><path fill="#666" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 min-height-500 p-3 pb-3">
        <div class="jumbotron mb-3">
            <p class="lead">Welcome {{user.firstName}},</p>
            <hr class="my-4">
            <div class="text-center mb-3">
              <img src="/images/personal.png" class="w-50 h-auto m-auto" alt="">
            </div>
            <p>Please keep your Medical Record Card updated.</p>
            <a class="btn btn-success" href="/student/update-medical-record" role="button">Update Record</a>
        </div>
        <!--  -->
        <div class="form-row">
            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Vax Info</h5>
                  <div class="text-center mb-3">
                    <img src="/images/vax.png" class="w-50 h-auto m-auto" alt="vax">
                  </div>
                  <p class="card-text">Update your vaccination information from your 1st dose up to the booster shots.</p>
                  <!-- <a href="#" class="btn btn-sm btn-success">Update</a> -->
                  <button class="btn btn-sm btn-success" disabled>Update</button>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Contact Info</h5>
                  <p class="card-text">Update your contact information.</p>
                  <a href="#" class="btn btn-sm btn-success">Update</a>
                </div>
              </div>
            </div> -->
          </div>
      
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

