{% extends "document.html" %}

{% block body %}
<div class="navigation">
    <div class="container container-nav">
        <div class="row">
            <div class="col-10 d-flex align-items-center">
                <a class="mr-2 d-flex" href="/student/home">
                    <svg width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Back</title><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
                </a>
                <h1 class="h6 mb-0">Medical Record Card</h1>
            </div>
            <div class="col-2 justify-content-end d-flex align-items-center">
                <a href="#" class="menu-toggle">
                    <svg width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Menu</title><path fill="#666" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 min-height-500 p-3 pb-3">
        {% include 'parts/flash.html' %}
        {% if not medicalRecord %}
            <div class="alert alert-danger">Not filled-up yet. <a href="/student/update-medical-record">Add</a></div>
        {% else %}
            <div class="jumbotron pt-4 p-3">
                <p class="lead mb-0">{{medicalRecord.firstName}} {{medicalRecord.middleName|first('.')}} {{medicalRecord.lastName}} {{medicalRecord.suffix}}</p>
                <div class="mb-4 pl-1"><em>{{medicalRecord.address}}</em></div>
                
                <table class="table table-sm">
                    <tr>
                        <td class="text-right">Age</td>
                        <td>{{medicalRecord.birthDate|age}} yrs <em>({{medicalRecord.birthDate|format_date('MMM DD, YYYY')}})</em></td>
                    </tr>
                    <tr>
                        <td class="text-right">Gender</td>
                        <td>{{medicalRecord.gender}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Civil Status</td>
                        <td>{{medicalRecord.civilStatus}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Citizenship</td>
                        <td>{{medicalRecord.citizenship}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Religion</td>
                        <td>{{medicalRecord.religion}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Course</td>
                        <td>{{medicalRecord.course}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">FB/Messenger</td>
                        <td>{{medicalRecord.fb}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Phone</td>
                        <td>{{medicalRecord.mobileNumber}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Parent/Guardian</td>
                        <td>{{medicalRecord.parentName}} -  {{medicalRecord.parentPhoneNumber}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Emergency Person</td>
                        <td>{{medicalRecord.emergencyPerson}} -  {{medicalRecord.emergencyPersonPhoneNumber}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Is PWD?</td>
                        <td>{% if medicalRecord.isPWD %}Yes{% else %}No{% endif %}
                            <br>{{medicalRecord.pwdDetails}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Allergies</td>
                        <td>
                            {% if medicalRecord.allergies.includes('None') %}
                            None <br>
                            {% endif %}
                            {% if medicalRecord.allergies.includes('Food') %}
                                Food - {{medicalRecord.allergyDetails.Food}} <br>
                            {% endif %}
                            {% if medicalRecord.allergies.includes('Medicine') %}
                                Medicine - {{medicalRecord.allergyDetails.Medicine}} <br>
                            {% endif %}
                            {% if medicalRecord.allergies.includes('Others') %}
                                Others - {{medicalRecord.allergyDetails.Others}} <br>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            
                <div class="text-center">
                    <a class="btn btn-success" href="/student/update-medical-record" role="button">Edit</a>
                </div>
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
