{% extends "document-admin.html" %}

{% block body %}
<div class="col-12 min-height-500 p-3 pb-3">
    {% include 'parts/flash.html' %}
    {% if not medicalRecord %}
        <div class="alert alert-danger">Not filled-up yet.</div>
    {% else %}
        <form ref="form" id="vApp" v-cloak :data-pending="pending" v-on:submit.prevent="onSubmit($event)" action="" method="post">
            <input type="hidden" name="acsrf" value="{{acsrf}}">
            <div class="jumbotron pt-4 p-3">
                <p class="lead mb-0">Are you sure you want to delete?</p>
                <p>MRC of: {{medicalRecord.firstName}} {{medicalRecord.middleName|first}}. {{medicalRecord.lastName}} {{medicalRecord.suffix}}</p>
            </div>
            <div class="text-center">
                <a class="btn btn-light" href="/admin/medical-record/view/{{medicalRecord._id}}" role="button">Cancel</a>
                <button :disabled="pending" class="btn btn-danger">Delete</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    let vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
        },
        mounted: function(){
            const me = this 
           
        },
        methods: {
            
            onSubmit: function(e){
                const me = this 
                me.pending = true;
                me.$nextTick(function() {
                    me.$refs.form.submit()
                });
            }
        }
    });
</script>
{% endblock %}
