{% extends "document-print.html" %}

{% block body %}
<div class="a4">
    <div class="d-flex text-center align-items-center letter-head mb-4">
        <div style="width: 20%;">
            <img src="/images/logo.png" width="90" alt="GSU">
        </div>
        <div style="width: 40%;">
            <div>Republic of the Philippines</div>
            <div class="s1 text-uppercase">Guimaras State University</div>
            <div>Mc Lain, Buenavista, Guimaras</div>
        </div>
        <div style="width: 20%;">
            <img src="/images/socotec-pab.png" width="120" alt="PAB">
        </div>
        <div style="width: 20%;">
            <table class="table-doc-code mb-1" width="90%">
                <tr>
                    <th>Document Code No.</th>
                </tr>
                <tr>
                    <td class="s1">FM-DPM-GSU-DHS-05</td>
                </tr>
            </table>

            <table class="table-doc-code" width="90%">
                <tr>
                    <th>Rev. No.</th>
                    <th>Effective Date</th>
                    <th>Page No.</th>
                </tr>
                <tr>
                    <td>05</td>
                    <td>05 FEB 2024</td>
                    <td>1 of 2</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text-center">
        <h1 class="h1 mb-0">University Clinic</h1>
        <h2 class="h2">(Medical Record Card)</h2>
    </div>
    <div class="d-flex mb-5">
        <div style="width: 67%;"></div>
        <div>MRC No.:</div>
        <div class="underline" contenteditable="true" style="width: 13%;"></div>
    </div>
    <div class="d-flex">
        <div style="width: 7%;">Name</div>
        <div class="underline d-flex text-center" style="width: 50%;">
            <div style="width: 33%;">{{medicalRecord.lastName}}</div>
            <div style="width: 33%;">{{medicalRecord.firstName}}</div>
            <div style="width: 33%;">{{medicalRecord.middleName}}</div>
        </div>
        <div style="width: 15%;">Course/Position</div>
        <div class="underline text-center" style="width: 20%; font-size: 12px;" contenteditable="true">{{medicalRecord.course|replace('Bachelor of Science', 'BS')}}</div>
        <div style="width: 4%;">Age</div>
        <div class="underline text-center" style="width: 4%;">{{medicalRecord.birthDate|age}}</div>
    </div>
    <div class="d-flex mb-3">
        <div style="width: 7%;"></div>
        <div class="d-flex text-center smol" style="width: 50%;">
            <div style="width: 33%;">(Surname)</div>
            <div style="width: 33%;">(Given Name)</div>
            <div style="width: 33%;">(Middle Name)</div>
        </div>
    </div>
    
    <div class="d-flex mb-3">
        <div style="width: 8%;">Address</div>
        <div class="underline text-center" style="width: 38%; font-size: 16px;" contenteditable="true">{{medicalRecord.address}}</div>
        <div style="width: 8%;">CP No.</div>
        <div class="underline text-center" style="width: 13%; font-size: 16px;" contenteditable="true">{{medicalRecord.mobileNumber}}</div>
        <div style="width: 8%;">PWD</div>
        <div style="width: 17%;" class="d-flex"> 
            {% if medicalRecord.isPWD %}
                <div class="mr-2">☑ Yes </div>
                <div>☐ No</div>
            {% else %}
                <div class="mr-2">☐ Yes </div>
                <div>☑ No</div>
            {% endif %}
        </div>
        <div style="width: 8%;">Disability</div>
        <div class="underline text-center" style="width: 17%;" contenteditable="true">{{medicalRecord.pwdDetails}}</div>
    </div>
    <div class="d-flex mb-3">
        <div style="width: 7%;">Gender</div>
        <div class="underline text-center" style="width: 11%;" contenteditable="true">{{medicalRecord.gender}}</div>
        <div style="width: 11%;">Civil Status</div>
        <div class="underline text-center" style="width: 13%;" contenteditable="true">{{medicalRecord.civilStatus}}</div>
        <div style="width: 11%;">Citizenship</div>
        <div class="underline text-center" style="width: 15%;" contenteditable="true">{{medicalRecord.citizenship}}</div>
        <div style="width: 12%;">Date of Birth</div>
        <div class="underline text-center" style="width: 20%;" contenteditable="true">{{medicalRecord.birthDate|format_date('MMM DD, YYYY')}}</div>
    </div>

    <div class="d-flex mb-3">
        
        <div style="width: 8%;">Religion</div>
        <div class="underline text-center" style="width: 15%; font-size: 12px;" contenteditable="true">{{medicalRecord.religion}}</div>

        <div style="width: 25%;">Allergy to Medicines/Food</div>
        <div class="underline text-left" style="width: 32%; font-size: 12px;" contenteditable="true">{{medicalRecord.allergiesFormatted}}</div>

        <div style="width: 12%;">Blood Type</div>
        <div class="underline text-left" style="width: 8%;" contenteditable="true">{{medicalRecord.bloodType}}</div>
    </div>
    
    <div class="d-flex mb-3 align-items-start">
        <div style="width: 19%;">Parent or Guardian</div>
        <div class="underline" style="width: 42%;" contenteditable="true">{{medicalRecord.parentName}}</div>
        <div style="width: 17%;">Contact Number</div>
        <div class="underline text-center" style="width: 23%;" contenteditable="true">{{medicalRecord.parentPhoneNumber}}</div>
    </div>
    <div class="d-flex mb-5 align-items-start">
        <div style="width: 34%;">In Case of Emergency, please notify</div>
        <div class="underline " style="width: 27%;" contenteditable="true">{{medicalRecord.emergencyPerson}}</div>
        <div style="width: 17%;">Contact Number</div>
        <div class="underline text-center" style="width: 22%;" contenteditable="true">{{medicalRecord.emergencyPersonPhoneNumber}}</div>
    </div>
    <div class="cooper text-uppercase text-center">Clinical Record</div>
    <table class="table table-records mb-4">
        <tr>
            <th style="width: 15%">DATE &amp; TIME</th>
            <th style="width: 35%">NURSE'S NOTES</th>
            <th style="width: 35%">DOCTOR'S NOTES</th>
            <th style="width: 15%">PATIENT'S SIGNATURE</th>
        </tr>
        {% for record in clinicalRecords %}
            <tr>
                <td>{{record.date|format_date('MMM. DD, YYYY hh:mm A')}}</td>
                <td>{{record.complaints}}</td>
                <td>{{record.treatment}} <br>{{record.diagnosis}}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    <!-- <div class="cooper2 text-uppercase text-center">Relevance Data About Health History</div> -->
    {% for relevanceData in relevanceDatas %}
    <!-- <div class="underline w-100 pl-2 pr-2" style="min-height: 25px;">{{relevanceData}}</div> -->
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
{{super}}
<script>
    window.print()
</script>
{% endblock %}