{% extends "document-admin.html" %}

{% block body %}
<div class="col-12 min-height-500 p-3 pb-3 bg-light">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {{urlPath|active_class([r/^\/admin\/user\/([a-f\d]{24})\/(.)+/])}}" href="/admin/user/{{userAccount._id}}/account">Edit Account</a>
            </li>
        </ul>
    </div>
    <div class="p-3 tab-content">
        {% include 'parts/flash.html' %}
        
        <div class="table-responsive">
            <table class="table-striped table-sm table-bordered">
                <tr>
                    <td>Email</td>
                    <td>{{userAccount.email}} 
                        {% if userAccount.emailVerified %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><title>Verified</title><path fill="green" d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z" /></svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><title>Unverified</title><path fill="gray" d="M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z" /></svg>
                        {% endif %}
                    </td>
                    <td>
                        <a href="/admin/user/{{userAccount._id}}/change-email">Change Email</a>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>**********</td>
                    <td>
                        <a href="/admin/user/{{userAccount._id}}/password-reset">Password Reset</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

