<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{app.description}}">
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link rel="shortcut icon" href="{{app.url}}/favicon.png" />
    <link rel="stylesheet" href="{{app.url}}/css/bootstrap.min.css" />
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{app.url}}/css/style.css?v=20230208" />
</head>


<body class="hide-menu">
    <!-- <nav class="navbar fixed-top navbar-light">
        <div class="container container-app">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <a class="navbar-brand" href="#">
                        <img src="/images/clinico-sm-g.png" alt="">
                    </a>
                </div>
                <div class="col-6 justify-content-end d-flex align-items-center">
                    <a href="#" class="menu-toggle">
                        <svg width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Menu</title><path fill="#666" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
                    </a>
                </div>
            </div>
        </div>
    </nav> -->
    <div class="container container-app">
        <div class="menu">
            <ul>
                <li>
                    <a href="#" class="close-menu d-flex align-items-center justify-content-end">
                        <svg width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Close</title><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/student/medical-record-card" class="d-flex align-items-center">
                        <svg class="mr-1" width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chevron-right</title><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                        <span>Medical Record Card</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/student/account" class="d-flex align-items-center">
                        <svg class="mr-1" width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chevron-right</title><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                        <span>Account</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/data-privacy" class="d-flex align-items-center">
                        <svg class="mr-1" width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>chevron-right</title><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
                        <span>Data Privacy</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/logout" onclick="return confirm('Are you sure you want to logout?')" class="d-flex align-items-center">
                        <svg class="mr-1" width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Logout</title><path d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z" /></svg>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        {% block body %}
        {% endblock %}
        <p class="text-center pt-3" style="color: #111; font-size: 10px; opacity: 0.7;">&copy; 2023 - Clinic Online by Guimaras State University</p>
    </div>
{% block scripts %}
<script src="{{app.url}}/js/jquery.slim.min.js"></script>
<script src="{{app.url}}/js/popper.min.js"></script>
<script src="{{app.url}}/js/bootstrap.min.js"></script>
<script src="{{app.url}}/js/lodash.min.js"></script>
<script src="{{app.url}}/js/moment.min.js"></script>
<script src="{{app.url}}/js/moment-timezone-with-data-10-year-range.min.js"></script>
<script src="{{app.url}}/js/vue.js"></script>
<!--<script src="{{app.url}}/js/zxcvbn.js"></script>-->
<script src="{{app.url}}/js/script-cookies.js"></script>
<script src="{{app.url}}/js/script.js"></script>
{% if ENV === 'dev' %}
<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
    ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>
{% endif %}
{% endblock %}
</body>
</html>
