<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{app.description}}">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{{app.title}}</title>

    <!-- Bootstrap -->
    <link rel="shortcut icon" href="{{app.url}}/favicon.png" />
    <link rel="stylesheet" href="{{app.url}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{app.url}}/css/style.css" />
</head>
<body class="body-public">
<div class="container-fluid">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
    <p class="text-center" style="position: fixed; bottom: 0; color: #fff; left: 0; right: 0; font-size: 10px; opacity: 0.4;">Developed by Guimaras State University</p>
</div>
{% block scripts %}
<script src="{{app.url}}/js/lodash.min.js"></script>
<script src="{{app.url}}/js/vue.js"></script>
{% if ENV === 'dev' %}
<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
    ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>
{% endif %}
{% endblock %}
</html>
