{% extends "document-public.html" %}

{% block body %}
<div id="vApp" v-cloak v-bind:data-pending="pending" class="col-md-9 ml-auto mr-auto mt-md-5 mb-md-5">
    <div style="box-shadow: 0 0 5px #333; border-radius: 10px; overflow: hidden; ">
        <div class="row" style="background: #fff;">
            <div class="col-xl-6 order-md-2 order-2">
                <form ref="frmReg" v-on:submit.prevent="onSubmit($event)" action="/register" method="post" class="p-4 min-height-500">
                    <h1 class="h5 text-center mb-4">
                        <span>Create Account</span>
                    </h1>
                    {% include 'parts/flash.html' %}
                    <template v-if="page==1">
                        <div class="form-group row" :data-error="errors.firstName" @click="errors.firstName=false">
                            <label for="firstName" class="col-6 col-md-5 col-form-label text-right">First Name <span class="text-danger">*</span></label>
                            <div class="col-6 col-md-7">
                                <input v-model="firstName" name="firstName" type="text" class="form-control" id="firstName">
                            </div>
                        </div>
                        <div class="form-group row" :data-error="errors.middleName" @click="errors.middleName=false">
                            <label for="middleName" class="col-6 col-md-5 col-form-label text-right">Middle Name <span class="text-danger">*</span></label>
                            <div class="col-6 col-md-7">
                                <input v-model="middleName" name="middleName" type="text" class="form-control" id="middleName">
                            </div>
                        </div>
                        <div class="form-group row" :data-error="errors.lastName" @click="errors.lastName=false">
                            <label for="lastName" class="col-6 col-md-5 col-form-label text-right">Last Name <span class="text-danger">*</span></label>
                            <div class="col-6 col-md-7">
                                <input v-model="lastName" name="lastName" type="text" class="form-control" id="lastName">
                            </div>
                        </div>
                        <div class="form-group row" :data-error="errors.suffix" @click="errors.suffix=false">
                            <label for="suffix" class="col-6 col-md-5 col-form-label text-right">Suffix</label>
                            <div class="col-6 col-md-7">
                                <select v-model="suffix" name="suffix" id="suffix" class="form-control">
                                    <option value=""></option>
                                    <option>Jr.</option>
                                    <option>Sr.</option>
                                    <option>II</option>
                                    <option>III</option>
                                    <option>IV</option>
                                    <option>V</option>
                                    <option>VI</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 col-md-5"></div>
                            <div class="col-6 col-md-7 text-center">
                                <button id="btnNext" class="btn btn-success d-block w-100">Next</button>
                            </div>
                        </div>
                        <hr>
                        <p class="mb-0 text-center">Already have an account? <a class="text-primary" href="/login">Login here</a></p>
                    </template>
                    <template v-if="page==2">
                        <div class="form-group row">
                            <div class="col-6 col-md-5">
                                
                            </div>
                            <div class="col-6 col-md-7">
                            </div>
                        </div>
                        <div class="form-group row" :data-error="errors.email" @click="errors.email=false">
                            <label for="email" class="col-md-5 col-form-label text-md-right">GSU Email <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input v-model="email" type="text" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="form-group row" :data-error="errors.email" @click="errors.email=false">
                            <label for="email" class="col-md-5 col-form-label text-md-right">Account</label>
                            <div class="col-md-7">
                                <select name="" id="" class="form-control">
                                    <option>Student</option>
                                    <option>Staff</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" :data-error="errors.acceptedDataPrivacy" @click="errors.acceptedDataPrivacy=false">
                            <div class="col-md-5 col-form-label"></div>
                            <div class="col-md-7 d-flex align-items-center">
                                <div class="custom-control custom-checkbox mb-0 ml-1">
                                    <input v-model="acceptedDataPrivacy" name="acceptedDataPrivacy" type="checkbox" class="custom-control-input" id="acceptedDataPrivacy">
                                    <label class="custom-control-label" for="acceptedDataPrivacy">I have read and accept the <a target="_blank" href="/data-privacy">Data Privacy and Consent Form</a></label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-6 col-md-5 text-right">
                                
                            </div>
                            <div class="col-6 col-md-7 text-center d-flex">
                                <input :value="payload" type="hidden" name="payload" />
                                <button id="btnBack" type="button" @click="page=1" class="btn btn-sm btn-light mr-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 24 24"><title>Back</title><path fill="#222" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" /></svg>
                                </button>
                                <button id="btnSubmit" class="btn btn-success d-block w-100 mr-1">Register</button>
                            </div>
                        </div>
                    </template>
                
                </form>
            </div>
            <div class="col-xl-6 order-md-1 order-1 align-self-stretch text-center" style="background: url('/images/flat-lay-health-still-life-arrangement-with-copy-space.jpg') no-repeat top #b1cedc;background-size: cover; ">
                <img src="/images/clinico.png" alt="Logo" class="mt-4 mb-4">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% if CONFIG.recaptchav3.enable %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LcB1_scAAAAABxNHSvZ1gnl5ZpTKZCoWa_JcYkV"></script>
{% endif %}
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
            page: 1,
            firstName: '',
            middleName: '',
            lastName: '',
            suffix: '',
            email: '',
            acceptedDataPrivacy: '',
            recaptchaToken: '',
            errors: {
                firstName: false,
                middleName: false,
                lastName: false,
                suffix: false,
                email: false,
                acceptedDataPrivacy: false,
            }
        },
        computed: {
            loginText: function(){
                return this.pending ? 'Logging in...' : 'Login';
            },
            payload: function(){
                const me = this 

                return JSON.stringify({
                    firstName: me.firstName,
                    middleName: me.middleName,
                    lastName: me.lastName,
                    suffix: me.suffix,
                    email: me.email,
                    acceptedDataPrivacy: me.acceptedDataPrivacy,
                })
            }
        },
        mounted: function(){
            const me = this 
            {% if ENV === 'dev' %}
            // me.firstName = 'Nico'
            // me.middleName = 'Gayapa'
            // me.lastName = 'Amarilla'
            // me.email = 'mis+nico@gsu.edu.ph'
            // me.page = 2
            {% endif %}
        },
        methods: {
            togglePassword: function () {
                if (this.passwordType === "password") {
                    return this.passwordType = "text";
                }
                this.passwordType = "password"
            },
            onSubmit: function(e){
                try {
                    const me = this 
                    if(_.get(e, 'submitter.id') === 'btnNext'){
                        if(!me.firstName){
                            me.errors.firstName = true
                            throw new Error('First Name is required.')
                        }
                        if(!me.middleName){
                            me.errors.middleName = true
                            throw new Error('Middle Name is required.')
                        } else {
                            me.middleName = me.middleName.trim()
                            if(_.get(me, 'middleName', '').slice(-1) == '.' || me.middleName.length <= 1){
                                me.errors.middleName = true
                                throw new Error('Please write your Middle Name in full.')
                            } 
                        }
                        if(!me.lastName){
                            me.errors.lastName = true
                            throw new Error('Last Name is required.')
                        }
                        me.page = 2

                    }
                    if(_.get(e, 'submitter.id') === 'btnSubmit'){
                        
                        if(!me.email){
                            me.errors.email = true
                            throw new Error('Email is required.')
                        } else {
                            me.email = me.email.trim()
                            if(/^[\w-\.+]+@([\w-]+\.)+[\w-]{2,4}$/g.test(me.email) === false){
                                me.errors.email = true
                                throw new Error('Invalid email.')
                            } else {
                                let domain = me.email.split('@').pop()
                                if(['gsu.edu.ph'].includes(domain) === false){
                                    me.errors.email = true
                                    throw new Error('Only GSU emails are allowed (email that ends in @gsu.edu.ph).')
                                }
                            }
                        }
                        if(!me.acceptedDataPrivacy){
                            me.errors.acceptedDataPrivacy = true
                            throw new Error('You must have read and accepted the Data Privacy and Consent Form is required.')
                        }
                        me.pending = true;
                        me.$nextTick(function() {
                            me.$refs.frmReg.submit();
                        });
                    }
                    
                } catch (err) {
                    alert(err.message)
                }
            }
        }
    });
</script>
{% endblock %}